.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    height: 56px;
  }
  margin-bottom: 16px;
  background-color: #fff;
  &-logo {
    display: flex;
    align-items: center;
    img {
      margin-right: 18px;
    }
    .search {
      position: relative;
    }
    .icon-search {
      position: absolute;
      left: 0;
      top: 0;
      height: 32px;
      width: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #aaaaaa;
    }
    input {
      background-color: rgba($search-gray, 0.32);
      height: 32px;
      width: 312px;
      border-radius: 4px; // ?
      padding: 8px 8px 8px 44px;

      &::placeholder {
        color: #aaaaaa;
      }
    }
  }

  &-menu {
    nav {
      ul {
        display: flex;
        li {
          display: flex;
          width: auto;
          &:not(:first-child) {
            padding-left: 32px;
          }
          span {
            display: none;
          }
          &.active {
            i {
              color: $active-blue;
            }
            span {
              display: block;
              font-weight: 500;
              color: $active-blue;
            }
          }
        }
      }
    }
  }

  &-profile {
    display: flex;
    align-items: center;
    margin-left: 30px;
    &-wrapper {
      display: flex;
      flex-direction: column;
      margin-right: 6px;
    }
    &-name {
      font-size: 12px;
    }
    &-status {
      font-size: 10px;
      color: $status-green;
    }
    img {
      height: 24px;
      width: 24px;
      border-radius: 24px;
      margin-right: 4px;
    }
    i {
      color: $search-gray;
    }
  }
}
