@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot?82934119");
  src: url("../font/iconfont.eot?82934119#iefix") format("embedded-opentype"), url("../font/iconfont.woff2?82934119") format("woff2"), url("../font/iconfont.woff?82934119") format("woff"), url("../font/iconfont.ttf?82934119") format("truetype"), url("../font/iconfont.svg?82934119#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.svg?82934119#iconfont') format('svg');
  }
}
*/
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-dot-3:before {
  content: "\e800";
}

/* '' */
.icon-minus:before {
  content: "\e801";
}

/* '' */
.icon-camera:before {
  content: "\e802";
}

/* '' */
.icon-calendar:before {
  content: "\e803";
}

/* '' */
.icon-briefcase:before {
  content: "\e804";
}

/* '' */
.icon-up-open:before {
  content: "\e805";
}

/* '' */
.icon-edit:before {
  content: "\e806";
}

/* '' */
.icon-grid:before {
  content: "\e807";
}

/* '' */
.icon-heart:before {
  content: "\e808";
}

/* '' */
.icon-down-open:before {
  content: "\e809";
}

/* '' */
.icon-message:before {
  content: "\e80a";
}

/* '' */
.icon-notification:before {
  content: "\e80c";
}

/* '' */
.icon-plus:before {
  content: "\e80d";
}

/* '' */
.icon-search:before {
  content: "\e80e";
}

/* '' */
.icon-share:before {
  content: "\e810";
}

/* '' */
.icon-thumbs-up:before {
  content: "\e811";
}

/* '' */
.icon-users:before {
  content: "\e812";
}

/* '' */
.icon-video:before {
  content: "\e813";
}

/* '' */
.icon-send:before {
  content: "\e818";
}

/* '' */
.icon-home:before {
  content: "\e81a";
}

/* '' */
.icon-hash:before {
  content: "\e80b";
}

/* '' */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*:focus {
  outline: 0;
}

body {
  background-color: #f5f6f7;
}

.header {
  margin-bottom: 16px;
  background-color: #fff;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo img {
  margin-right: 18px;
}
.header-logo .search {
  position: relative;
}
.header-logo .icon-search {
  position: absolute;
  left: 0;
  top: 0;
  height: 32px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaaaaa;
}
.header-logo input {
  background-color: rgba(222, 222, 222, 0.32);
  height: 32px;
  width: 312px;
  border-radius: 4px;
  padding: 8px 8px 8px 44px;
}
.header-logo input::placeholder {
  color: #aaaaaa;
}
.header-menu nav ul {
  display: flex;
}
.header-menu nav ul li {
  display: flex;
  width: auto;
}
.header-menu nav ul li:not(:first-child) {
  padding-left: 32px;
}
.header-menu nav ul li span {
  display: none;
}
.header-menu nav ul li.active i {
  color: #006699;
}
.header-menu nav ul li.active span {
  display: block;
  font-weight: 500;
  color: #006699;
}
.header-profile {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.header-profile-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}
.header-profile-name {
  font-size: 12px;
}
.header-profile-status {
  font-size: 10px;
  color: #31b057;
}
.header-profile img {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  margin-right: 4px;
}
.header-profile i {
  color: #dedede;
}

main {
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
main .left-sidebar {
  width: 270px;
}
main .left-sidebar .profile {
  padding: 16px;
  background: white;
  border-radius: 6px;
}
main .left-sidebar .profile-background {
  width: 100%;
  height: 43px;
  border-radius: 4px;
  background-image: url("../images/cover-bg.png");
}
main .left-sidebar .profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -26px;
  padding-bottom: 16px;
  border-bottom: 1px solid #c4c4c4;
}
main .left-sidebar .profile-card img {
  height: 56px;
  width: 56px;
  border-radius: 56px;
  border: 3px solid white;
}
main .left-sidebar .profile-card-name {
  color: #17272f;
  font-weight: 900;
  margin-top: 8px;
}
main .left-sidebar .profile-card-title {
  font-size: 14px;
  color: #aaaaaa;
  margin-top: 4px;
}
main .left-sidebar .profile-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
main .left-sidebar .profile-stats-title {
  font-size: 14px;
}
main .left-sidebar .profile-stats-count {
  color: #006699;
}
main .left-sidebar .tag {
  background-color: white;
  padding: 16px;
  margin-top: 16px;
}
main .left-sidebar .tag-wrapper h4 {
  text-transform: uppercase;
  color: #17272f;
  margin-bottom: 8px;
}
main .left-sidebar .tag-wrapper .hr {
  height: 1px;
  background-color: #edf0f5;
}
main .left-sidebar .tag-wrapper-list {
  margin-top: 12px;
}
main .left-sidebar .tag-wrapper-list li {
  color: #006699;
}
main .left-sidebar .tag-wrapper-list li:not(:last-child) {
  margin-bottom: 8px;
}
main .left-sidebar .tag-wrapper-list li .icon-users {
  height: 12px;
  width: 12px;
}
main .left-sidebar .tag-wrapper:first-child {
  margin-bottom: 36px;
}
main .left-sidebar .event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 51px;
  background-color: white;
  margin-top: 16px;
  border-radius: 6px;
}
main .left-sidebar .event-title {
  font-size: 14px;
  font-weight: 800;
}
main .left-sidebar .event-icon-wrapper i {
  height: 20px;
  width: 20px;
  color: #006699;
}
main .left-sidebar .more {
  margin-top: 16px;
  border-radius: 6px;
}
main .left-sidebar .more button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #006699;
  background-color: white;
  height: 56px;
  font-weight: 900;
}
main .main-content {
  margin-left: 30px;
  margin-right: 30px;
  flex: 1;
}
main .main-content .share {
  background-color: white;
  padding: 15px 25px;
  border-radius: 6px;
}
main .main-content .share textarea {
  height: 56px;
  width: 100%;
  resize: none;
  padding: 8px;
  border-bottom: 1px solid #edf0f5;
}
main .main-content .share-option {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
main .main-content .share-option i {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}
main .main-content .share-option .icon-camera {
  color: #31b057;
}
main .main-content .share-option .icon-video {
  color: #006699;
}
main .main-content .share-option .icon-calendar {
  color: #fc8338;
}
main .main-content .share-option .icon-thumbs-up {
  color: #e52a34;
}
main .main-content .share-option span {
  font-size: 14px;
  color: #17272f;
}
main .main-content .filter {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px 12px 20px;
  margin-top: 20px;
  background-color: rgba(222, 222, 222, 0.24);
  border-radius: 6px;
}
main .main-content .filter p {
  font-size: 14px;
}
main .main-content .filter-dropdown {
  font-size: 14px;
}
main .main-content .filter-dropdown span {
  margin-right: 8px;
  font-weight: 500;
}
main .main-content .filter-dropdown i {
  color: #aaaaaa;
}
main .main-content .card {
  padding: 16px;
  background-color: white;
  border-radius: 6px;
  margin-top: 14px;
}
main .main-content .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #edf0f5;
}
main .main-content .card-header-info {
  display: flex;
  align-items: start;
}
main .main-content .card-header-info img {
  height: 36px;
  width: 36px;
  border-radius: 36px;
}
main .main-content .card-header-info .meta {
  margin-left: 12px;
  font-size: 10px;
  color: #aaaaaa;
}
main .main-content .card-header-info .meta-name {
  font-size: 14px;
  color: #17272f;
  margin-bottom: 2px;
  font-weight: 500;
}
main .main-content .card-header-info .meta-title {
  margin-bottom: 2px;
}
main .main-content .card-header .detail {
  color: #aaaaaa;
}
main .main-content .card-content {
  margin-top: 16px;
}
main .main-content .card-content-text {
  color: #17272f;
  font-size: 14px;
}
main .main-content .card-content-tag {
  color: #006699;
  margin-top: 12px;
  font-weight: 500;
  font-size: 12px;
}
main .main-content .card-content-img {
  height: 230px;
  width: 100%;
  border-radius: 6px;
}
main .main-content .card-content-count {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .main-content .card-content-count .count-icon .icon-heart {
  color: #e52a34;
}
main .main-content .card-content-count .count-icon .icon-thumbs-up {
  color: #388bf2;
}
main .main-content .card-content-count .count-info {
  margin-left: 22px;
  font-size: 10px;
}
main .main-content .card-content .hr {
  height: 1px;
  background-color: #edf0f5;
  margin-top: 14px;
  margin-bottom: 14px;
}
main .main-content .card-content-stats {
  display: flex;
  color: #aaaaaa;
  font-weight: 300;
}
main .main-content .card-content-stats > div:not(:first-child) {
  margin-left: 16px;
}
main .main-content .card-content-stats span {
  margin-left: 2px;
}
main .main-content .card-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
}
main .main-content .card-footer img {
  height: 32px;
  width: 32px;
  border-radius: 32px;
}
main .main-content .card-footer input {
  margin-left: 12px;
  height: 48px;
  border: 1px solid #edf0f5;
  border-radius: 6px;
  width: 100%;
  padding: 16px;
}
main .main-content .card-footer input::placeholder {
  color: #dedede;
}
main .main-content .card-footer hr {
  height: 1px;
  width: 1px;
  color: #dedede;
  position: absolute;
  right: 48px;
}
main .main-content .card-footer i {
  position: absolute;
  right: 16px;
  color: #dedede;
}
main .right-sidebar {
  width: 270px;
}
main .right-sidebar .feeds {
  background-color: white;
  padding: 16px;
  border-radius: 6px;
}
main .right-sidebar .feeds h4 {
  color: #17272f;
  font-size: 14px;
}
main .right-sidebar .feeds .hr {
  height: 1px;
  background-color: #edf0f5;
  margin-top: 8px;
  margin-top: 16px;
}
main .right-sidebar .feeds-company {
  display: flex;
  margin-top: 16px;
}
main .right-sidebar .feeds-company img {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}
main .right-sidebar .feeds-company-info .company-name {
  font-size: 14px;
  font-weight: 500;
}
main .right-sidebar .feeds-company-info .company-description {
  font-size: 12px;
  color: #aaaaaa;
}
main .right-sidebar .feeds-company button {
  margin-left: auto;
  background-color: transparent;
  border: 1.5px solid #006699;
  border-radius: 4px;
  padding: 5px;
}
main .right-sidebar .feeds-company button i {
  color: #006699;
}
main .right-sidebar .feeds-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .right-sidebar .feeds-footer a {
  display: inline-flex;
  margin-top: 36px;
  text-align: center;
  color: #006699;
  font-weight: 500;
}
main .right-sidebar .advertisement {
  padding: 16px;
  background-color: white;
  margin-top: 12px;
  border-radius: 6px;
}
main .right-sidebar .advertisement h4 {
  color: #17272f;
  font-size: 14px;
}
main .right-sidebar .advertisement span {
  color: #f5f6f8;
  font-size: 10px;
}
main .right-sidebar .advertisement .hr {
  height: 1px;
  background-color: #edf0f5;
  margin-bottom: 16px;
  margin-top: 8px;
}
main .right-sidebar .advertisement-avatar img {
  height: 72px;
  width: 72px;
  border-radius: 72px;
}
main .right-sidebar .advertisement-avatar img:not(:first-child) {
  margin-left: 32px;
}
main .right-sidebar .advertisement-text {
  margin-top: 20px;
  color: #17272f;
  font-size: 14px;
}
main .right-sidebar .advertisement-footer {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .right-sidebar .advertisement-footer a {
  color: #006699;
  font-weight: 500;
}
main .right-sidebar .sidebar-footer footer {
  margin-top: 54px;
}
main .right-sidebar .sidebar-footer footer ul {
  display: flex;
  flex-wrap: wrap;
}
main .right-sidebar .sidebar-footer footer ul li a {
  color: #aaaaaa;
  font-size: 10px;
}
main .right-sidebar .sidebar-footer footer ul li:not(:last-child) {
  margin-right: 21px;
}
main .right-sidebar .sidebar-footer footer .hr {
  height: 1px;
  background-color: #dedede;
  margin-top: 16px;
  margin-bottom: 12px;
}
main .right-sidebar .sidebar-footer footer .company-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .right-sidebar .sidebar-footer footer .company-info p {
  font-size: 12px;
  color: #aaaaaa;
}
main .right-sidebar .sidebar-footer footer .company-info img {
  height: 12px;
  width: 44px;
}

/*# sourceMappingURL=style.css.map */
